node_modules/
.env
*.log
session/
.wwebjs_auth/
cron-session/
poster-session/
channel-forwarder/*session/
venv/
temp_message.txt
qr.png
*.tmp
.DS_Store
channel-forwarder/.wwebjs_cache/
public/uploads/blog/
patch*.py
public/uploads/cvs/
public/uploads/employers/
uploads-private/
*.bak
